:root {
  --color-primary: #C09BD8;
  --color-secondary: #E6E4Ce;
  --color-background-primary: #EDE3E9;
  --color-background-secondary: #9F84BD;
  --color-text-primary: Black;
  --color-text-secondary: White;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background-primary);
  height: 5000px;
}

header {
  --header-height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  padding: 0px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-secondary);
}

header .header-content {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .header-content img.logo {
  height: 100%;
  width: auto;
}

header .header-content nav {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 200px;
  height: 100%;
}

header .header-content nav>a {
  color: var(--color-text-secondary);
  text-decoration: underline;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 12px;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
  font-size: 20px;
}

header .header-content nav>a:hover {
  background-color: var(--color-primary);
}

header .header-content .hamburger-menu {
  height: 100%;
  width: 150px;
  padding-left: 90px;
}

header .header-content .hamburger-menu .hamburger-icon {
  display: flex;
  flex-direction: column;
  gap: 11px;
  height: 100%;
  justify-content: center;
  background: transparent;
  border: none;
}

header .header-content .hamburger-menu .hamburger-icon>div {
  width: 60px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--color-text-secondary);
  transition: transform 0.3s ease-in-out, background-color 0.15s ease-in-out;
}

header .header-content .hamburger-menu .hamburger-icon>div:nth-child(1) {
  background-color: #f29f1f;
}

header .header-content .hamburger-menu .hamburger-icon>div:nth-child(2) {
  background-color: #1eac4a;
  height: 15px;
  border-top: 5px solid #cf3537;
  border-bottom: 5px solid #b26531;
}

header .header-content .hamburger-menu .hamburger-icon>div:nth-child(3) {
  background-color: #f29f1f;
}


header .header-content .hamburger-menu.open .hamburger-icon>div:nth-child(1) {
  transform: rotate(45deg) translateY(15px) translateX(15px);
}

header .header-content .hamburger-menu.open .hamburger-icon>div:nth-child(2) {
  background-color: transparent;
  border-color: transparent;
}

header .header-content .hamburger-menu.open .hamburger-icon>div:nth-child(3) {
  transform: rotate(-45deg) translateY(-15px) translateX(15px);
}


header .hamburger-menu .menu {
  position: fixed;
  top: var(--header-height);
  right: 0;
  height: calc(100dvh - var(--header-height));
  min-width: 300px;
  transform: translateX(300px);
  transition: transform 0.5s ease-in-out;
  background-color: var(--color-background-secondary);
}

header .hamburger-menu .menu-background {
  position: fixed;
  display: none;
  top: var(--header-height);
  left: 0;
  height: calc(100dvh - var(--header-height));
  width: 100dvw;
  background-color: rgba(0, 0, 0, 0.4);
  transition: transform 0.5s ease-in-out;
}


header .hamburger-menu.open .menu-background {
  display: block;
}

header .hamburger-menu.open .menu {
  transform: translateX(0px);
}

header .hamburger-menu .menu ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

header .hamburger-menu .menu ul a {
  color: var(--color-text-secondary);
  text-decoration: underline;
  cursor: pointer;
  padding: 8px;
  font-size: 20px;
}

.test-title {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-title>h1 {
  font-size: 200px;
}

.teodor-text {
    color: var(--color-primary);
    transition: color 0.2s, font-size 1s;
  }
.teodor-text:hover {
  color: var(--color-secondary);
  font-size: 250px;
}
